* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #e2e2e2;
  height: 14vh;
  align-items: center;
}

h1 {
  font-family: "Caesar Dressing", cursive;
  font-weight: 100;
  font-size: 50px;
}

header nav {
  display: flex;
  width: 17vw;
  justify-content: space-around;
  align-items: center;
}

header div {
  display: flex;
  width: 10vw;
  justify-content: space-around;
  align-items: center;
}

.mobile {
  display: none;
}

main {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16vh;
}

main ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 32vw;
}

.primeira-section {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 60vh;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 5px;
  width: 24vw;
  padding: 14px;
}

.caixabox {
  background-image: url(./img/xbox.jpg);
}

.caixacyberpunk {
  background-image: url(./img/cyberpunk.jpg);
}

.caixahero {
  background-image: url(./img/hero.png);
}

.segunda-section {
  background-image: url(./img/need.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 80vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  margin-top: 50px;
}

@media (max-width: 500px) {
  header {
    flex-direction: row-reverse;
  }
  .itemWeb {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
